flask==2.3.3
flask-sqlalchemy==3.1.1
flask-login==0.6.3
flask-wtf==1.2.2
flask-migrate==4.0.7
werkzeug==2.3.8
email-validator==2.2.0

# Безопасность и валидация
wtforms==3.1.2

# Анализ контента
spacy==3.8.4
textblob==0.19.0
transliterate==1.10.2

# Дополнительные утилиты
pillow==11.0.0

# Mail
flask_mail
python-dotenv
secure-smtplib