<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Publication Management Platform{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/antd/4.16.13/antd.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/antd/4.16.13/antd.min.js"></script>
</head>
<body>
    <header>
        <nav class="ant-menu ant-menu-horizontal" style="padding: 0 20px;">
            <a class="ant-menu-item" href="{{ url_for('index') }}">Главная</a>
            <a class="ant-menu-item" href="{{ url_for('posts.list_posts') }}">Публикации</a>
            {% if 'user_id' not in session %}
            <a class="ant-menu-item" href="{{ url_for('auth.login') }}">Вход</a>
            <a class="ant-menu-item" href="{{ url_for('auth.register') }}">Регистрация</a>
            {% else %}
            <a class="ant-menu-item" href="{{ url_for('auth.profile', user_id=session['user_id']) }}">Профиль</a>
            <a class="ant-menu-item" href="{{ url_for('auth.logout') }}">Выход</a>
            {% endif %}
            {% if 'user_id' in session and session.get('role') == 'moderator' %}
            <a class="ant-menu-item" href="{{ url_for('moderation.moderate_posts') }}">Модерация</a>
            {% elif 'user_id' in session and session.get('role') == 'admin' %}
            <a class="ant-menu-item" href="{{ url_for('admin.list_users') }}">Админпанель</a>
            {% endif %}
        </nav>
    </header>

    <div class="content" style="padding: 20px; display: flex; justify-content: center; flex-direction: column;">
        {% block content %}
        {% endblock %}
    </div>

    <footer style="text-align: center; padding: 20px;">
        <p>© 2025 Анастасия Копейкина. Все права защищены.</p>
    </footer>

    <style>
        nav {
            position: fixed; /* Фиксируем панель */
        top: 0; /* Прижимаем к верху */
        width: 100%; /* Растягиваем на всю ширину */
        z-index: 1000; /* Устанавливаем высокий z-index, чтобы панель была над другим контентом */
        }
        .content {
            margin-top: 30px;
        }
        .ant-card {
            background-color: #ebe9e9;
        }
        .ant-card img {
            max-height: 500px;
        }
    </style>
</body>
</html>
