{% extends 'base.html' %}

{% block title %}Редактирование поста{% endblock %}

{% block content %}
<div class="home-container" style="max-width: 1200px; margin: 0 auto; padding: 40px 20px;">

<h1 style="text-align: center;">Измените содержимое публикации</h1>

<form class="ant-form" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="ant-form-item">
        {{ form.content_text.label(class='ant-form-item-label', style='color: #fff;') }}<br>{{ form.content_text(class='ant-input', cols=30, rows=5, style='color: #fff; background-color: #5c5c5c;') }}
    </div>

    <div class="ant-form-item">
        {{ form.file.label(class='ant-form-item-label', style='color: #fff;') }}<br>{{ form.file(class='ant-input', style='color: #fff; background-color: #5c5c5c;') }}
    </div>

    <button type="submit" class="ant-btn ant-btn-primary">{{ form.submit.label(class='ant-btn-primary', style='color: #fff;') }}</button>
</form>

<a href="{{ url_for('posts.list_posts') }}" class="ant-btn ant-btn-default">Отмена</a>
</div>
{% endblock %}