{% extends 'base.html' %}

{% block title %}События{% endblock %}

{% block content %}
<div class="home-container" style="max-width: 1200px; margin: 0 auto; padding: 40px 20px;">
    <h1>События</h1>
    {% if current_user.is_authenticated and current_user.role == 'moderator' %}
    <a href="{{ url_for('events.add_event') }}">Добавить новое событие</a>
    {% endif %}
    <div class="feature ant-row" style="display: flex; flex-direction: column; align-items: center; justify-content: space-between; border-radius: 8px;">
        {% for event in events %}
        <div class="feature ant-col" style="padding: 10px; margin-bottom: 10px; background-color: #5c5c5c; border-radius: 8px;">
            <h2 style="color: #ffffff;">{{ event.title }}</h2>
            <p style="color: #ffffff;">{{ event.description }}</p>
            <p style="color: #ffffff;">Дата: {{ event.date }}</p>
            {% if current_user.is_authenticated and current_user.role == 'moderator' %}
            <a href="{{ url_for('events.edit_event', event_id=event.id) }}">Редактировать</a>
            <form action="{{ url_for('events.delete_event', event_id=event.id) }}" method="post" style="display:inline;">
                <input type="submit" value="Удалить">
            </form>
            {% endif %}
        </li>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
