{% extends 'base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="home-container" style="max-width: 1200px; margin: 0 auto; padding: 40px 20px;">

<h1>Восстановление пароля</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    
    <div class="ant-form-item">
        {{ form.email.label }}<br>
        {{ form.email(class='ant-input', size=32) }}
    </div>

    <div class="ant-form-item">
        {{ form.username.label }}<br>
        {{ form.username(class='ant-input', size=32) }}
    </div>

    <div class="ant-form-item">
        {{ form.password.label }}<br>
        {{ form.password(class='ant-input', size=32) }}
    </div>

    <button type="submit" class="ant-btn ant-btn-primary">{{ form.submit.label() }}</button>
</form>

<a href="{{ url_for('auth.login') }}">Вспомнили пароль? - Войдите.</a>
</div>
{% endblock %}