{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
<h1>Вход</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    
    <div class="ant-form-item">
        {{ form.username.label }}<br>
        {{ form.username(class='ant-input', size=32) }}
    </div>

    <div class="ant-form-item">
        {{ form.password.label }}<br>
        {{ form.password(class='ant-input', size=32) }}
    </div>

    <div class="ant-form-item">
        {{ form.remember_me() }} {{ form.remember_me.label }}
    </div>

    <button type="submit" class="ant-btn ant-btn-primary">{{ form.submit() }}</button>
</form>

<a href="{{ url_for('auth.register') }}">Еще нет аккаунта? Создайте его скорее.</a>
{% endblock %}