{% extends 'base.html' %}

{% block title %}Новая публикация{% endblock %}

{% block content %}
<div class="home-container" style="max-width: 1200px; margin: 0 auto; padding: 40px 20px;">

<h1>Создайте публикацию</h1>

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="ant-form-item">
        {{ form.content_text.label }}<br>{{ form.content_text(class='ant-textarea', cols=30, rows=5) }}
    </div>

    <div class="ant-form-item">
        {{ form.file.label }}<br>{{ form.file() }}
    </div>

    <button type="submit" class="ant-btn ant-btn-primary">{{ form.submit.label }}</button>
</form>

<a href="{{ url_for('posts.list_posts') }}">Назад к постам</a>
</div>
{% endblock %}